/*required field*/
.required_field {
	color: red;
}

.custom_title {
	font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #ccc !important;
}

  .item_slider {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-content: center;
    max-height: 150;
    
  }
  .item {
    width: auto;
    margin-right: 10px;
    max-height: 150px;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
  }
  .item_active{
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
    border: 1px solid #1ab394 !important;
  }
  .item img {
    max-width: 100%;
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    margin: 0 auto;
  }

  .item_name{
    text-align: center;
    height: 50px;
    vertical-align: bottom;
    font-weight: 600;
  }


  .table_slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .order_table {
    min-width: 210px;
    margin-right: 10px;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    max-height: 250px;
  }
  .table-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    font-weight: 600;
  }

  .table_active{
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.6);
    border: 1px solid #1ab394 !important;
  }